<div id="fundo" style="position: relative;">

  <img id="imgFundo" src="{{imagem}}" border="0" style="width: 37%;"/>

  <div id="flutuante1" style="position: absolute;top: 310px;right: -14px;font-family: 'Open Sans';font-size: 43px;color: antiquewhite;visibility: hidden;width: 115px;height: 79px;text-align: center;">1</div>

  <div id="flutuante2" style="position: absolute;top: 483px;left: 91px;font-family: 'Open Sans';font-size: 72px;color: sienna;visibility: hidden;width: 195px;height: 102px;text-align: center;">1</div>

  <div id="flutuante3" style="position: absolute;top: 425px;right: 242px;font-family: 'Open Sans';font-size: 70px;color: sienna;visibility: hidden;width: 115px;height: 102px;text-align: right;">1</div>

  <div id="flutuante4" style="position: absolute;top: 508px;right: 195px;font-family: 'Open Sans';font-size: 51px;color: sienna;visibility: hidden;width: 89px;height: 102px;text-align: center;">1</div>

  <div id="flutuante5" style="position: absolute;top: 30%;font-family: 'Open Sans';font-size: 45px; color: #735555;visibility: hidden;width: 100%;height: 400px;text-align: center;">1</div>

</div>
